.imgProfil {
     width: 40px;
     height: 40px;
     object-fit: cover;
     border-radius: 50%;
}
.inputRecherche {
     width: 60%;
     max-width: 100%;
}
.MDBDropdownToggle {
     background-color: #FBFBFB;
     color: black;
     box-shadow: none;
}
.MDBDropdownToggle:hover {
     background-color: #FBFBFB;
     color: black;
     box-shadow: none;
}
.MDBDropdownMenu:hover .MDBDropdownToggle {
     background-color: #FBFBFB;
     color: black;
     box-shadow: none;
}
.children {
     left: 300px
}

@media all and (max-width : 768px) {
     .children {
          left: 0;
     }
}